<%= form_with model: profile do |form| %>
  <%= form_error_notification(profile) %>

  <div class="field">
    <br />
    <%= form.text_field :name, placeholder: "Enter your name" %>
  </div>

  <div class="field">
    <br />
    <%= form.text_field :location, placeholder: "Enter your address" %>
  </div>

  <div class="field">
    <%= form.label :birthday, "Birthdate" %><br />
    <%= form.date_field :birthday %>
  </div>

  <div class="field">
    <%= form.label :picture, "Update your profile picture" %><br />
    <%= form.file_field :picture %>
  </div>
  
  <%= form.submit "Save", class: "btn btn-outline-success btn-sm" %>

  <%= link_to "Back to my page", user_path(current_user), class: "btn btn-outline-dark btn-sm" %>
<% end %>
