<main class="container">
<div class="wrapper">
  <div class="header">
     
    </div>
     <h1>Sign up</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
      <br /> 
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
      </div>
    
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password" %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Re-type Password" %>
      </div>
    
      <%= f.fields_for :profile do |profile_form| %>
        <div class="field">
          <br />
          <%= profile_form.text_field :name, placeholder: "Name: " %>
        </div>
    
        <div class="field">
          <br />
          <%= profile_form.text_field :location, placeholder: "Location" %>
        </div>
    
        <div class="field">
          <%= profile_form.label :birthday, "Birthday" %><br />
          <%= profile_form.date_field :birthday %>
        </div>
    
        <div class="field">
          <%= profile_form.label :picture, "Upload profile picture" %><br />
          <%= profile_form.file_field :picture %>
          
        </div>
      <% end %>
    
      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-outline-info" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
 
    </div>
  </main>
