<main class="container user-show" >
  <div class="sidebar">
    <div class="sidebar__profile" style="margin-top: 5rem;">
      <%= image_tag @profile.picture_attachment_path %>
      <h4><b><%= @profile.name %></b></h4>
      <p>Address: <%= @profile.location %></p>
      <p>Birth date <%= @profile.formatted_birthday %></p>

      <% if current_user == @user %>
        <%= link_to "Edit my profile",
                    edit_profile_path(current_user.profile.id),
                    class: "btn btn-outline-dark btn-sm" %>
      <% end %>
    </div>

    <div class="sidebar__friends">
    <% if current_user == @user || current_user.friends.include?(@user) %>
        <h4>Friends List</h4>
        <div class="sidebar__friends--container">
          <% @user.friends.each do |friend| %>
            <%= link_to image_tag(friend.profile.picture_attachment_path), friend %>
            <b><%= friend.profile.name %></b>

          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="user__posts">
    <% if current_user == @user %>
      <%= link_to " Add new post",
              new_post_path,
              data: { turbo_frame: dom_id(Post.new) },
              class: "btn btn-outline-primary btn-sm" %>

      <%= turbo_frame_tag Post.new %>

      <%= turbo_frame_tag "posts" do %>
        <%= render @posts %>
      <% end %>
    <% elsif current_user.friends.include?(@user) %>
      <%= turbo_frame_tag "posts" do %>
        <%= render @posts %>
      <% end %>
    <% else %>
      <p>Only <%= @profile.name %>'s friends can see their posts.</p>
    <% end %>
   </div>
</main>